@model IEnumerable<ThemeCollections>
@{
    ViewData["Title"] = "Home Page";
    var newFileName = "";
    var imagePath = "";
}

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Private collections</h1>
                <p class="lead text-muted">Here you can place your favorite collections. Create, store, edit! Let others see your collections.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Get started!</a>
                </p>
            </div>
        </div>
    </section>
    <form method="post">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    @foreach (var c in Model)
                    {
                        <input type="hidden" value="@c"/>
                        newFileName = c.Id.ToString() + ".jpg";
                        imagePath = "/Images/" + newFileName;
                        <div class="col">
                            <div class="card shadow-sm">
                                <h4>@c.Name</h4>
                                <img src="@imagePath" width="225" height="225" style="justify-content:stretch" />
                                <div class="card-body">
                                    <p class="card-text">@c.Description</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Create</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</main>